@import "tailwindcss";

@font-face {
    font-family: 'Geist';
    src: url('/fonts/geist-regular.woff2') format('woff2'),
         url('/fonts/geist-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  body {
    font-family: 'Geist', sans-serif;
  }

  @tailwind base;
@tailwind components;
@tailwind utilities;
