@import url('https://fonts.googleapis.com/css2?family=Mr+De+Haviland&family=Red+Hat+Display:wght@500&family=Chakra+Petch&family=Dawning+of+a+New+Day&family=Jost:wght@300&family=Lato&family=Roboto&family=Instrument+Sans&display=swap');

body {
    font-family: 'Instrument Sans', sans-serif !important;
    background-color: #ffffff;
}

.my-navbar {
    box-shadow: 0px 10px 30px rgba(216, 216, 216, 0.45);
    position: fixed;
    width: 100%;
    background: #ffffff;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-title {
    font-family: 'Mr De Haviland', cursive;
    font-size: xx-large;
    color: #213363;
}

.navbar-title:hover {
    color: #BE3737;
}

.navbar-brand img {
    width: 50px;
}

.nav-link {
    font-size: large;
    margin-right: 24px;
    transition: 0.3s ease;
    padding: 5px;
    color: #213363;
}

.nav-link:hover {
    color: #BE3737;
}

.nav-active a {
    color: black !important;
    font-weight: 600;
    border-bottom: 4px solid #BE3737;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.background-image {
    position: fixed;
    top: 10%;
    right: 0;
    width: 27%;
    height: 90%;
    background-image: url('../public/images/avatar-new.png');
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(1.1) contrast(2.1) saturate(1.2) blur(0) drop-shadow(0 0 0 transparent);
    image-rendering: crisp-edges;
}

@media only screen and (max-width: 900px) {
    .background-image {
        position: relative;
        display: block;
        margin: auto;
    }
}